<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="POST" action ="{%url 'othercheckout' item_id=item_id %}" class="post-form">{% csrf_token %}
    {{form2.user_id}}
        <button type="submit">Select</button>
    </form>
    <form method="POST" class="post-form">{% csrf_token %}

        <input id="id_item_id" name="item_id" , hidden="false" value="{{item_id}}" readonly/>
        <h4>Student ID</h4>{{form.student_id}}
		<h4>First Name </h4>{{form.first_name}}
        <h4>Last Name</h4>{{form.last_name}}
        <h4>Email</h4> {{form.email}}
		<button type="submit">Add and Select</button>
    </form>
</body>
</html>
