<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>Checkout</title>
        <link rel='stylesheet' type='text/css' href="{% static '../../static/style.css' %}" />
    </head>
    <body id="checkoutBody">
        <div id="smallTitle">Existing Student:</div>
        <form method="POST" action ="{%url 'othercheckout' item_id=item_id %}" class="post-form">{% csrf_token %}
        {{form2.user_id}}
            <button type="submit">Select</button>
        </form>

        <div id="smallTitle">New Student:</div>
        <form method="POST" class="post-form">{% csrf_token %}

            <input id="id_item_id" name="item_id" , hidden="false" value="{{item_id}}" readonly/>
            <p>
                <label>Student ID:</label> {{ form.student_id }}
            </p>
            <p>
                <label>First Name:</label> {{ form.first_name}}
            </p>
    		<p>
                <label>Last Name:</label> {{ form.last_name }}
            </p>
            <p>
                <label>Email:</label> {{ form.email }}
            </p>
    		<button type="submit">Add and Select</button>
        </form>
    </body>
</html>
