<!DOCTYPE html>
<html>
    <head>
        <title>Checkout History</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        
       <header>
            <logo>{% include 'checkout/logo.html' %}</logo><!--
            --><buffer>
                <form id="ascend" action="#" method="get">
                    <input type="submit" value="Sort by Newest Date" name="mybtn">
                </form>
                <form id="descend" action= "{% url 'checkoutHistory' %}" >
                    <button id="descendButton">Sort by Oldest Date</button>
                </form>
            </buffer><!--
            --><navigation>
                {% include 'checkout/navigation.html' with active="checkoutHistory" %}
            </navigation><!--
             --><form id="searchbar" action="/checkout/search_history" method="get">
                    <input type="search" name="q" placeholder="search">
                </form><!--
            -->{% include 'checkout/userAccount.html' %}
             
        </header>
        
        <table id="table">
            
            <thead>
                <tr>
                    <td>Item Type</td>
                    <td>Model</td>
                    <td>Kit #</td>
                    <td>Student Using</td>
                    <td>Authorizer</td>
                    <td>Date Checked Out</td>
                    <td>Date Checked In</td>
                    <td>Description</td>
                    <td>Serial Number</td>

                </tr>
            </thead>
            
            
            <tbody>
                {% for checkout in checkouts %}
                <tr>   
                    <td>{{checkout.item}}</td>
                    <td>{{checkout.item.model_number}}</td>
                    <td>{{checkout.item.kit_number}}</td>
                    <td>{{checkout.borrower.first_name}} {{checkout.borrower.last_name}}</td>
                    <td>{{checkout.authorizer.first_name}} {{checkout.authorizer.last_name}}</td>
                    <td>{{checkout.checkout_date}}</td>
                    <td>{{checkout.checkin_date}}</td>
                    <td>{{checkout.item.description}}</td>
                    <td>{{checkout.item.serial_number}}</td>
                </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>            
            
            
            
        </table>
            
            
            
    </body>
</html>