<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        
       <header>
            <logo>{% include 'checkout/logo.html' %}</logo><!--
            --><buffer></buffer><!--
            --><navigation>
                {% include 'checkout/navigation.html' with active="checkoutHistory" %}
            </navigation><!--
            --><input id="searchbar" type="search" placeholder="search"><!--
            --><form id="logoutButton" action="{%url 'logout' %}">
                <button id="logoutButton">Log Out</button>
            </form>
        </header>
        
        <table id="table">
            
            <thead>
                <tr>
                    <td>Item Type</td>
                    <!-- <th>Model Number</th>
                     <th>ID</th> -->
                    <td>Student Using</td>
                    <td>Date Checked Out</td>
                    <td>Date Checked In</td>
                    <td>Description</td>
                    <td>Serial Number</td>
                </tr>
            </thead>
            
            
            <tbody>
                {% for checkout in checkouts %}
                <tr>   
                    <td>{{checkout.item}}</td>
                    <td>{{checkout.borrower}}</td>
                    <td>{{checkout.checkout_date}}</td>
                    <td>{{checkout.checkin_date}}</td>
                    <td>{{checkout.item.description}}</td>
                    <td>{{checkout.item.serial_number}}</td>
                </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>            
            
            
            
        </table>
            
            
            
    </body>
</html>
