<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../static/style.css">
	</head>
	<body>
	   
		<header>
            <logo>{% include 'checkout/logo.html' %}</logo><!--
  			--><buffer></buffer><!--
  			--><navigation>
                {% include 'checkout/navigation.html' with active="students" %}
            </navigation><!--
  			--><input id="searchbar" type="search" placeholder="search"><!--
  			--><form id="logoutButton" action="{%url 'logout' %}">
                <button id="logoutButton">Log Out</button>
            </form>
        </header>
		
	    
		<table id="table">
		
			<thead>
				<tr>       
					<td>Student ID</td>
					<td>Name</td>
					<td>Email</td>
				</tr>
			</thead>
	          
	        <tbody>  
		        {% for student in students %}
				<tr>
			        <td>{{student.user_id}}</td>
					<td>{{student.first_name}} {{student.last_name}}</td>
			        <td>{{student.email}}</td>
			        </tr>
		        {% endfor %}
		    </tbody>

		     <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot> 
	    
		</table>
	   


	</body>
</html>