<!DOCTYPE html>
<html>
	<head>
		<title>Items</title>
		<link rel="stylesheet" href="../../static/style.css">
	</head>
	<body>

		<header>
            <logo>{% include 'checkout/logo.html' %}</logo><!--
  			--><buffer>
  					{% if username.is_staff%}
  						<form target = "_blank" id="addItem" action="{%url 'admin:checkout_item_add' %}" method="get">
	            			<button>Add Item</button>
	        			</form>  
					{% endif %}
    			</buffer><!--
  			--><navigation>
                {% include 'checkout/navigation.html' with active="items" %}
            </navigation><!--
            --><form id="searchbar" action="/checkout/search_items" method="get">
                    <input type="search" name="q" placeholder="search">
                </form><!--
  			-->{% include 'checkout/userAccount.html' %}
        </header>
	    
		<table id="table">
		
			<thead> 
				<tr>
					<td>Check in/out</td>
					<td>Item Type</td>
					<td>Model</td>
					<td>Kit #</td>
					<td>Student Using</td>
					<td>Date Checked Out</td>
					<td>Description</td>
					<td>Serial Number</td>
				</tr>
			</thead>
	          
	        <tbody>  
		        {% for item in items %}

				<tr>
			        <td  style="text-align:center"> 
			        	{%if item.1 != None %}
				        	<form  action="{%url 'checkin' checkout_id=item.1.pk%}" method="post">
				        		<button type="button submit">Check in</button>
				        		{% csrf_token %}
				        	</form>
						{%else%}			
							<form action="{%url 'checkout' item_id=item.0.item_id %}" method="get">
								<button type = "button submit"> Check out</button>
								{% csrf_token %}
							</form>
						{%endif%}
					</td>
					<td>{{item.0.category}}</td>
					<td>{{item.0.model_number}}</td>
					<td>{{item.0.kit_number}}</td>
					<td>{{item.1.borrower.first_name}} {{item.1.borrower.last_name}}</td>
			        <td>{{item.1.checkout_date}}</td>
			        <td>{{item.0.description}}</td>
					<td>{{item.0.serial_number}}</td>
		        </tr>
		        {% endfor %}
	        </tbody>

	         <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot> 
	    
		</table>
	   


	</body>
</html>
