<!DOCTYPE html>
<html>
<head>
<style>
body {background-color:lightblue;}
td {padding: 5px; border:1px solid black; font-family: verdana}
th {padding: 5px; border:1px solid black; font-family: verdana; background-color:lightgrey}
button#b1 {background-color:blue; color:white; border: 2px solid lightblue; font-family: verdana; font-size: 18px; width: 100px; height: 50px; float: left; border-radius: 8px; margin-bottom:20px; margin-top: 10px}

</style>
</head>
<body>
   
	<form action="{%url 'checkout.views.items' %}" method="get">
		<button id="b1"> Items</button>
	</form>
	
	<button id="b1" style="opacity:.25"> Students</button>
	
	<form action="{%url 'checkout.views.checkoutHistory' %}" method="get">
		<button id="b1"> History</button> 
	</form>
	
	<form action="{%url 'admin:index' %}" method="get">
		<button style="float:left; margin-left: 50px; margin-top:22px; padding:5px">Add Item</button>
	</form>
	
	<input type="search" style="float:left; margin-left: 50px; margin-top:27px; width:20%" placeholder="search">
	
	<button type="button" style="float:right; margin-right: 20px; margin-top: 22px; padding:5px">Log Out</button>
	
    
	<table style="border: 3px solid blue; border-collapse: collapse; background-color:white; width:100%">
	
	<tr>       
		<th>Student ID</th>
		 <th>Name</th>
		<th>Email</th>
	</tr>
          
        {% for student in students %}
		<tr>
        <td>{{student.user_id}}</td>
		<td>{{student.first_name}} {{student.last_name}}</td>
        <td>{{student.email}}</td>
       </tr>
       {% endfor %}
    
	</table>
   


</body>
</html>