<!DOCTYPE html>
<html>
<head>
<style>
body {background-color:lightblue;}
td {padding: 5px; border:1px solid black; font-family: verdana}
th {padding: 5px; border:1px solid black; font-family: verdana; background-color:lightgrey}
button#b1 {background-color:blue; color:white; border: 2px solid lightblue; font-family: verdana; font-size: 18px; width: 100px; height: 50px; float: left; border-radius: 8px; margin-bottom:20px; margin-top: 10px}

</style>
</head>
<body>
   
	<button id="b1" style="opacity:.25"> Items</button>
	
	<form action="{%url 'checkout.views.students' %}" method="get">
		<button id="b1"> Students</button>
	</form>
	
	<form action="{%url 'checkout.views.users' %}" method="get">
		<button id="b1"> Users</button>
	</form>
	
	<form action="{%url 'checkout.views.checkoutHistory' %}" method="get">
		<button id="b1"> History</button> 
	</form>
	
	<form action="{%url 'admin:index' %}" method="get">
		<button style="float:left; margin-left: 50px; margin-top:22px; padding:5px">Add Item</button>
	</form>
	
	<input type="search" style="float:left; margin-left: 50px; margin-top:27px; width:20%" placeholder="search">
	
	<button type="button" style="float:right; margin-right: 20px; margin-top: 22px; padding:5px">Log Out</button>
	
    
	<table style="border: 3px solid blue; border-collapse: collapse; background-color:white; width:100%">
	
	<tr>       
		<th>Check in/out</th>
		<th>Item Type</th>
		<th>Model Number</th> 
		<th>ID</th>
		<th>Student Using</th>
		<th>Date Checked Out</th>
		<th>Description</th>
		<th>Serial Number</th>
	</tr>
          
        {% for checkout in checkouts %}
		<tr>
        <td style="text-align:center">  <button type="button">Check in/out</button>  </td>
        <td>{{checkout.item.category}}</td>
		<td>{{checkout.item.model_number}}</td>
		<td>{{checkout.item.item_id}}</td>
		<td>{{checkout.borrower.first_name}} {{checkout.borrower.last_name}}</td>
        <td>{{checkout.checkout_date}}</td>
        <td>{{checkout.item.description}}</td>
		<td>{{checkout.item.serial_number}}</td>
       </tr>
       {% endfor %}
    
	</table>
   


</body>
</html>