<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        
       <header>
            <logo>{% include 'checkout/logo.html' %}</logo><!--
            --><buffer></buffer><!--
            --><navigation>
                {% include 'checkout/navigation.html' with active="checkoutHistory" %}
            </navigation><!--
            --><form id="searchbar" action="/checkout/search_history" method="get">
                    <input type="search" name="q" placeholder="search">
                </form><!--
            -->{% include 'checkout/userAccount.html' %}
        </header>
        
        {% if found_entries %}
        
        <p>Search results for "{{query_string}}":</p>
        
        <table id="table">
            
            <thead>
                <tr>
                    <td>Item Type</td>
                    <td>Model</td>
                    <td>Kit #</td>
                    <td>Student Using</td>
                    <td>Authorizer</td>
                    <td>Date Checked Out</td>
                    <td>Date Checked In</td>
                    <td>Description</td>
                    <td>Serial Number</td>

                </tr>
            </thead>
            
            
            <tbody>
                {% for checkout in found_entries %}
                <tr>   
                    <td>{{checkout.item}}</td>
                    <td>{{checkout.item.model_number}}</td>
                    <td>{{checkout.item.kit_number}}</td>
                    <td>{{checkout.borrower.first_name}} {{checkout.borrower.last_name}}</td>
                    <td>{{checkout.authorizer.first_name}} {{checkout.authorizer.last_name}}</td>
                    <td>{{checkout.checkout_date}}</td>
                    <td>{{checkout.checkin_date}}</td>
                    <td>{{checkout.item.description}}</td>
                    <td>{{checkout.item.serial_number}}</td>
                </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>            
            
            
            
        </table>
            
       {% else %}
       <p>Sorry, no entries matching "{{query_string}}" were found. (Please note that dates should be entered in the form yyyy-mm-dd.)</p>
       {% endif%}

            
    </body>
</html>